<%= form_for Response.new do |form| %>

 <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Object</th>
      <th scope="col"><%= render 'object1' %></th>
      <th scope="col"><%= render 'object2' %></th>
      <th scope="col"><%= render 'object1' %> and <%= render 'object2' %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r1x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r1x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r1x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r2x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r2x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r2x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r3x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r3x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r3x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r4x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r4x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r4x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r5x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r5x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r5x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r6x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r6x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r6x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r7x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r7x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r7x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r8x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r8x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r8x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r9x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r9x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r9x3,  size: "6x12"%></td>
    </tr>
     <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r10x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r10x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r10x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r11x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r11x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r11x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r12x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r12x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r12x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r13x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r13x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r13x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r14x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r14x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r14x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r15x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r15x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r15x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r16x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r16x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r16x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r17x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r17x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r17x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r18x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r18x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r18x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r19x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r19x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r19x3,  size: "6x12"%></td>
    </tr>
    <tr>
      <th scope="row">Bucket</th>
      <td><%= form.text_field :r20x1, size: "6x12"%></td></td>
      <td><%= form.text_field :r20x2,  size: "6x12"%></td></td>
      <td><%= form.text_field :r20x3,  size: "6x12"%></td>
    </tr>
    
   </tbody>
</table>


<style>
.actions {
  padding-top: 50px;
  text-align: center;
  
  
}

</style>
  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
